.fixedBodyHeight {
    height: 235px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fixedBodyHeight::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.fixedBodyHeight::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}

.fixedBodyHeight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.btn-primary {
    background-color: #235fd8!important;
    border-color: #235fd8!important;
}

.btn-primary:hover {
    background-color: #235fd8!important;
    border-color: #235fd8!important;;
}